* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 375px;
  background: #1c1a19;
  height: 100vh;
  margin: 0;
}

.header{
  top: 0;
  display: flex;
  width: 375px;
  height: 92px;
  background: #3c3a39;
  align-items: center;
  justify-content: space-between;
}

.owner {
  position: static;
  width: 140px;
  height: 24px;
  left: 12px;
  top: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #fff;
}

.menu-button {
  padding: 8px;
  color: #fff;
  position: static;
  width: 40px;
  height: 40px;
  right: 24px;
  top: 10px;
}

.fa {
  margin: 10px;
}

.name {
  position: static;
  margin-top: 100px;
  width: 327px;
  margin-left: 25px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: orange;
}

.my-title {
  position: static;
  width: 327px;
  height: 27px;
  margin: 10px auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  color: #fff5e1;
}

.info {
  position: static;
  width: 327px;
  height: 123px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 10px 28px;
}

.socials {
  display: flex;
  justify-content: space-around;
  color: white;
  height: 50px;
  width: 200px;
  margin-left: 10px;
}
.decoration .everal {
  position: absolute;
  left: 17.7rem;
  bottom: 35px;
}

.decoration .top {
  position: absolute;
  left: 19rem;
  bottom: 100px;
  padding: 5px;
}

.decoration .mid {
  position: absolute;
  left: 19rem;
  bottom: 93px;
  padding: 5px;
}

.decoration .topmost {
  position: absolute;
  left: 22.35rem;
  bottom: 200px;
  padding: 5px;
}

.decoration .downmost {
  position: absolute;
  left: 22.35rem;
  bottom: 200px;
  padding: 5px;
}

.decoration .last {
  position: absolute;
  left: 17.7rem;
  bottom: 30px;
  padding: 5px;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
}
