* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 375px;
  background: #1c1a19;
  height: 100vh;
  margin: 0;
}

.header {
  top: 0;
  display: flex;
  width: 375px;
  height: 92px;
  background: #3c3a39;
  align-items: center;
  justify-content: space-between;
}

.owner {
  position: static;
  width: 140px;
  height: 24px;
  left: 12px;
  top: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #fff;
}

.menu-button {
  padding: 8px;
  color: #fff;
  position: static;
  width: 40px;
  height: 40px;
  right: 24px;
  top: 10px;
}

.fa {
  margin: 10px;
}

.name {
  position: static;
  margin-top: 100px;
  width: 327px;
  margin-left: 25px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: orange;
}

.my-title {
  position: static;
  width: 327px;
  height: 27px;
  margin: 10px auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  color: #fff5e1;
}

.info {
  position: static;
  width: 327px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 10px 28px;
}

.socials {
  display: flex;
  justify-content: space-around;
  color: white;
  height: 50px;
  width: 200px;
  margin-left: 10px;
}

.decoration .everal {
  position: absolute;
  left: 17.7rem;
  bottom: 35px;
}

.decoration .top {
  position: absolute;
  left: 19rem;
  bottom: 100px;
  padding: 5px;
}

.decoration .mid {
  position: absolute;
  left: 19rem;
  bottom: 93px;
  padding: 5px;
}

.decoration .topmost {
  position: absolute;
  left: 22.35rem;
  bottom: 200px;
  padding: 5px;
}

.decoration .downmost {
  position: absolute;
  left: 22.35rem;
  bottom: 200px;
  padding: 5px;
}

.decoration .last {
  position: absolute;
  left: 17.7rem;
  bottom: 30px;
  padding: 5px;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
}

.work-intro {
  position: static;
  margin-top: 250px;
  margin-bottom: 100px;
  width: 375px;
  height: 83px;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 80px 30px;
  text-align: center;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1c1a19;
}

.image-holder {
  width: 375px;
  height: 237px;
  margin-bottom: 20px;
  margin-left: 0;
  background-color: rgb(230, 101, 16);
}

.image-holder img {
  width: 100%;
  height: 100%;
  padding: 24px;
}

.post-title {
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #091e42;
}

.post {
  width: 327px;
  height: 147px;
  margin-left: 30px;
  margin-right: 24px;
  justify-content: center;
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.post h6 {
  width: 200px;
  height: 147px;
}

.grid-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  gap: 10px;
  margin-bottom: 20px;
  width: 100px;
  margin-left: 30px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.grid-container > div {
  text-align: center;
  padding: 5px;
  font-size: 14px;
  border: 1px solid#1c1a19;
}

.grid-container > div:hover {
  cursor: pointer;
}

button { 
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgb(230, 101, 16);
  margin-left: 30px;
  padding: 8px 10px;
  margin-bottom: 20px;
  border: none;
}
